@media(min-width:768px){
.news-input {
width: 50%;
}
}

#map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

body::before {
    content: '';
    display: block;
    height: 60px;

}

.btn-light:hover {
 opacity: .9;
}

.btn-dark:hover {
    opacity: .9;
}

.ns {
    text-decoration: none;
    color: white;
}

.ns:hover {
    color: white;
    opacity: .9;
}